<section class="footer">
  <h3>CONTACT US</h3>
  <form class="footer-form">
    <!-- Name -->
    <div class="footer-form-field">
      <label for="user-name" class="footer-form-label"> Name </label>
      <div class="footer-form-container">
        <input
          class="footer-form-input input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Name"
        />
      </div>
    </div>

    <!-- E-mail -->
    <div class="footer-form-field">
      <label for="email" class="footer-form-label"> Email </label>
      <div class="model-form-container">
        <input
          class="footer-form-input input"
          type="email"
          name="user-email"
          id="email"
          placeholder="Email"
        />
      </div>
    </div>

    <!-- Message -->
    <div class="footer-form-message">
      <label for="user-message" class="footer-form-label"> Message </label>
      <textarea
        class="footer-form-textarea textarea"
        name="user-message"
        id="user-message"
        placeholder="Message"
        rows="6"
      ></textarea>
    </div>

    <div>
      <h3>Get in touch with us</h3>
      <p>
        Have a question or comment about our app? Get in touch with us using the
        contact form below and our team will respond shortly.
      </p>

      <button class="footer-form-btn" type="submit">Submit</button>
    </form>
      
      <!-- Contacts -->
      <address class="footer-address">
        <ul class="footer-address-list list">
          <li class="footer-address-item">
            <a
              class="footer-address-link phone link"
              href="tel:+xx-xxxx-xxxx-xx"
              >+xx-xxxx-xxxx-xx</a
            >
          </li>
          <li class="menu-address-item">
            <a
              class="menu-address-link email link"
              href="mailto:goIteens@gmail.com"
              >goIteens@gmail.com</a
            >
          </li>
        </ul>
      </address>
    </div>

</section>
