<!-- Элементы для вызова модальных окон, могут быть любые -->

<a href="#" class="js-open-modal" data-modal="1">Открыть окно 1</a>
<a href="#" class="js-open-modal" data-modal="2">Открыть окно 2</a>
<a href="#" class="js-open-modal" data-modal="3">Открыть окно 3</a>

<!-- Несколько модальных окон -->

<div class="modal" data-modal="1">
  <!--   Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross js-modal-close data-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <p class="modal__title">Заголовок окна 1</p>
</div>

<div class="modal" data-modal="2">
  <!--   Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <p class="modal__title">Заголовок окна 2</p>
</div>

<div class="modal" data-modal="3">
  <!--   Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross js-modal-close data-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>

  <p class="modal__title">Download</p>
  <!-- First Block  -->
  <div class="modal-container">
    <div class="modal-cont-list1">
      <svg class="modal-download-icons" width="80" height="106">
        <use href="../img/icons.svg#download"></use>
      </svg>
      <a class="modal-download-link" href="#">Download free plan</a>
      <ul class="modal-list">
        <li class="modal-download-item">
          <svg class="modal-download-icon" width="14" height="14">
            <use href="../img/icons.svg#left-arrow"></use>
          </svg>
          Basic functionality
        </li>
        <li class="modal-download-item">
          <svg class="modal-download-icon" width="14" height="14">
            <use href="../img/icons.svg#left-arrow"></use>
          </svg>
          Limited access
        </li>
        <li class="modal-download-item">
          <svg class="modal-download-icon" width="14" height="14">
            <use href="../img/icons.svg#left-arrow"></use>
          </svg>
          Community support
        </li>
      </ul>
    </div>
    <div class="modal-cont-list2">
      <svg class="modal-download-icons" width="80" height="106">
        <use href="../img/icons.svg#download"></use>
      </svg>
      <a class="modal-download-link" href="#">Download for 20$</a>
      <ul class="modal-list">
        <li class="modal-download-item">
          <svg class="modal-download-icon" width="14" height="14">
            <use href="../img/icons.svg#left-arrow"></use>
          </svg>
          Ad-free experience
        </li>
        <li class="modal-download-item">
          <svg class="modal-download-icon" width="14" height="14">
            <use href="../img/icons.svg#left-arrow"></use>
          </svg>
          Unlock exclusive features
        </li>
        <li class="modal-download-item">
          <svg class="modal-download-icon" width="14" height="14">
            <use href="../img/icons.svg#left-arrow"></use>
          </svg>
          Content for the ultimate mobile experience
        </li>
      </ul>
    </div>
  </div>
  <p class="modal-sub">
    Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
    neque. In sit amet lectus non lacus
  </p>
  <!-- Second Block  -->
  <div>
    <ul class="second-download-list">
      <svg class="" width="28" height="28">
        <use href=""></use>
      </svg>
      <li class="second-download-item">
        <p class="second-download-box">App name</p>
        <a class="second-download-link" href="#">Mobileapp.layout</a>
      </li>
      <svg class="" width="28" height="28">
        <use href=""></use>
      </svg>
      <li class="second-download-item">
        <p class="second-download-box">License</p>
        <a class="second-download-link" href="#">Free</a>
      </li>
      <svg class="" width="28" height="28">
        <use href=""></use>
      </svg>
      <li class="second-download-item">
        <p class="second-download-box">Author</p>
        <a class="second-download-link" href="#">Mobile Marrket App.com</a>
      </li>
      <svg class="" width="28" height="28">
        <use href=""></use>
      </svg>
      <li class="second-download-item">
        <p class="second-download-box">Data</p>
        <a class="second-download-link" href="#">21.02.2022</a>
      </li>
    </ul>
  </div>
  <button class="download-btn" type="button">Download</button>
</div>
