/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./hero1.css');
@import url('./features.css');
@import url('./features1.css');
@import url('./video.css');
@import url('./video1.css');
@import url('./team.css');
@import url('./team1.css');
@import url('./customers.css');
@import url('./customers1.css');
@import url('./footer.css');
@import url('./modal.css');

:root {
  /* Fonts */

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  /* Font colors */
  --font-light: #fff;
  --font-dark: #000;

  /* Main colors */
  --light-color: #f6f7f7;
  --dark-color: #06071b;
  --gradient-color: linear-gradient(99deg, #00c4eb, #b544fe);

  font-family: --font-primary;
  /* font-size: 16px;
  line-height: 24px;
  font-weight: 400; */

  color: var(--font-dark);
  background-color: var(--font-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
